form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

select,
input {
  background-color: #f8edeb96;
  padding: 10px;
  border: none;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the form container */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffe5d9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
}

/* Style the dropdowns and input fields */
select,
input[type="number"],
input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Style the buttons */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #fec89a;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffd7ba;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Workout summary styling */
.summary-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #eef9f1;
  border-left: 4px solid #5cb85c;
  border-radius: 8px;
  width: 100%;
}

.summary-container h3 {
  color: #5cb85c;
  font-size: 18px;
}

.summary-container ul {
  list-style: none;
  padding-left: 0;
}

.summary-container li {
  margin-bottom: 10px;
  font-size: 16px;
}

.summary-container span {
  font-style: italic;
  color: #777;
}

/* Center the summary button */
button.summary-button {
  display: block;
  margin: 10px auto 0;
  background-color: #007bff;
}

button.summary-button:hover {
  background-color: #0056b3;
}
/* .logging-form {
  background-color: #ffe5d9;
} */
.dropdown {
  width: 100%; /* Full width */
  padding: 12px 20px; /* Spacing */
  margin: 8px 0; /* Spacing */
  border: 2px solid #fcd5ce; /* Border color */
  border-radius: 4px; /* Rounded corners */
  background-color: #fae1dd; /* Background color */
  color: #333; /* Text color */
  font-size: 16px; /* Font size */
  appearance: none; /* Remove default styling in some browsers */
  background-position: right 10px center; /* Position the arrow */
  background-size: 12px; /* Size of the arrow */
  cursor: pointer; /* Pointer cursor */
}

/* Remove outline on focus */
.dropdown:focus {
  background-color: #ffd7ba5b;
  outline: none;
  border-color: #fec89a; /* Border color on focus */
  box-shadow: 0 0 5px rgba(254, 200, 154, 0.5); /* Shadow on focus */
}

/* Style for disabled options */
.dropdown option:disabled {
  color: #999; /* Color for disabled options */
}
.exercise-dropdown {
  background-color: #fae1dd;
}
.exercise-dropdown:focus {
  background-color: #ffd7ba5b;
  outline: none;
  border-color: #fec89a; /* Border color on focus */
  box-shadow: 0 0 5px rgba(254, 200, 154, 0.5);
}
